*{
 margin: 0;
 box-sizing: border-box;
}
.gallery{
 min-width: 200px;
 max-width: 1010px;
 height: 100vh;
 /*border: 2px solid blue;*/
 margin: 0px auto;
 padding: 5px;
 overflow-y: scroll;
 background: #434343;
}
.menu{
 min-width: 40%;
 max-width: 60%;
 display: flex;
 flex-direction: row;
 flex-grow: 0;
 flex-shrink: 0;
 gap: 20px;
 margin-inline: auto;
}
#addFile{
 text-decoration:none;
 color:white;
}
.btn{
 width: 30%;
 height: 30px;
 text-align: center;
 padding-top:2px;
 border: none;
 border-radius: 5px;
 background-color: #D9D9D9;
 color: #000;
 margin-inline: auto;
 transition: background-color .2s, color .2s;
}

.group{
 margin: 5px auto;
 overflow-y: scroll;
 /*border: 2px solid red;*/
}
.body{
 columns: 150px 6;
 gap: 5px;
}
.photo{
 width: 100%;
 margin-top: 5px;
 border: 0.5px solid;
 border-radius: 5px;
}
.current{
 background-color: #FF7A00;
 color: #fff;
}
.notSelected{
 display:none;
}
